@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @for (int i = 0; i < 20; i++)
    {
        <h1 class="display-4">Welcome to Super StudySystem</h1>
    }
</div>

