@page
@model tssrazor.Pages.Articles.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    Layout = "_LayoutContentWidget";
}

<div>
    <h2 class="text-primary">
        <span class="fa fa-file-text-o">
            <i class="fa">@Model.Article.Title</i>
        </span>
    </h2>
    <hr />

    <div class="d-flex justify-content-between">
        <span class="text-muted">
            <span class="fa fa-calendar">
                <i class="fa">@Model.Article.PublishTime.ToString("yyyy年MM月dd日 HH时mm分ss秒")</i>
            </span>
        </span>
        <span>
            <span>作者：</span>
            <a href="">@Model.Article.Author.Name</a>
        </span>
    </div>

    <div>
        @Model.Article.Body
    </div>
</div>