@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-end mr-md-n5">
    <div class="fixed-side d-flex flex-column">
        <a href="" class="link-box mb-1">
            <span class="fa fa-question-circle-o text-center">
                <br />
                <i class="fa">帮助</i>
            </span>
        </a>
        <a href="" class="link-box">
            <span class="fa fa-comments-o text-center">
                <br />
                <i class="fa">反馈</i>
            </span>
        </a>
    </div>
</div>

<div class="mt-5">
    @RenderSection("TextHeader", false)
    <hr />
</div>
<div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4">
        @RenderBody()
    </div>
    <div class="col-md-6 col-lg-5 col-xl-4 mx-auto d-none d-md-block">
        @RenderSection("TextDescription", false)
    </div>
</div>