@page
@model tssrazor.Pages.Members.LogoffModel
@{
    ViewData["Title"] = "退出登录";
    Layout = "_LayoutFixedMember";
}

@section TextHeader {
    <h2>
        <span class="fa fa-sign-out">
            <i class="fa">退出登录</i>
        </span>
    </h2>
}