@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="/css/font-awesome.min.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<pager path="/Index" pageIndex="3">第三页</pager>

<!a asp-page="About">what</!a>

<datetime asp-showicon="true" asp-only="">@DateTime.Now</datetime>
